.book-card {
    background-color: var(--beige);
    border-radius: 8px;
    overflow: 
    box-shadow 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    color: var(--cafe-oscuro);
}

.book-card:hover {
    transform: translateY(-5px);
}

.book-cover {
    height: 250px;
    background-color: var(--cafe);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--beige);
}

.book-info {
    padding: 1.2rem;
}

.book-title {
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--azul-oscuro);
    font-size: 1.1rem;
}

.book-author {
    color: var(--cafe);
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.book-actions {
    display: flex;
    justify-content: space-between;
}