.filter-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    gap: 15px;
}

.filter-options {
    display: flex;
    gap: 15px;
}

.filter-select {
    padding: 8px 12px;
    border: 1px solid var(--cafe);
    border-radius: 4px;
    background-color: var(--azul-oscuro);
    color: var(--beige);
}