:root {
    --beige: #e8d9c4;
    --cafe: #785d32;
    --cafe-oscuro: #3e160c;
    --azul-oscuro: #050a30;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", "Times New Roman", serif;
}

body {
    background-color: var(--beige);
    color: var(--cafe-oscuro);
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: 
    font-weight: 500;
    transition: all 0.3s;
}

.btn-primary {
    background-color: var(--cafe);
    color: var(--beige);
}

.btn-primary:hover {
    background-color: var(--cafe-oscuro);
}

.btn-outline {
    background-color: transparent;
    border: 1px solid var(--beige);
    color: var(--beige);
}

.btn-outline:hover {
    background-color: rgba(232, 217, 196, 0.1);
}

.btn-small {
    padding: 6px 12px;
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        gap: 15px;
    }
    nav ul {
        margin-top: 15px;
    }
    .profile-container {
        grid-template-columns: 1fr;
    }
    .filter-bar {
        flex-direction: column;
    }
    .hero h2{
        font-size: 2.2rem;
    }
    
    .hero p{
        font-size: 1.1rem;
    }
}