.hero {
    background: linear-gradient(rgba(5, 10, 48, 0.85), rgba(5, 10, 48, 0.9)), "C:\Git\FRONT-Book_Reserve_repo\front-book_reserve\src\assets\library-image_16729686.jpg";
    background-size: cover;
    background-position: center;
    color: var(--beige);
    padding: 5rem 0;
    text-align: center;
}

.hero h2 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.hero p {
    font-size: 1.3rem;
    max-width: 700px;
    margin: 0 auto 2rem;
}

